:root {
  --main-color: #212121;
  --secondary-color: #757575;
  --brand-color: #2196f3;
}
body {
  font-family: 'roboto', sans-serif;
  color: var(--main-color);
  list-style: none;
  width: 1600px;
}

/* navigation*/
header {
  display: flex;
  border-bottom: 1px solid #ececec;
  height: 80px;
  align-items: center;
  width: 1600px;
  justify-content: space-between;
}
.logo > a {
  text-decoration: none;
  font-family: 'Raleway';
  color: #000;
  font-size: 26px;
  line-height: 1.1;
  padding-left: 215px;
}
.logo-first-part {
  color: var(--brand-color);
}
.navbar,
.navbar > li > a {
  list-style: none;
  text-decoration: none;
  color: var(--main-color);
  font-weight: 500;
  padding-left: 93px;
}

header {
  display: flex;
  justify-content: space-between;
  width: 254px;
}
.navbar {
  display: flex;
  width: 254px;
  padding-left: 91px;
  padding-right: 393px;
}

.contact-email-header {
  display: inline-block;
  padding-left: 373px;
  width: 135px;
  padding-right: 50px;
}
.contact-phone-header {
  display: inline-block;
  padding-right: 227px;
  width: 110px;
}
.navbar > li > a:hover,
.navbar > li > a:focus {
  color: var(--brand-color);
}
.contact-phone-header > a,
.contact-email-header > a {
  text-decoration: none;
  font-size: 14px;
  color: var(--main-color);
}

.contact-phone-header > a:hover,
.contact-email-header > a:focus {
  color: var(--brand-color);
}

/* navigation*/

/*main*/

h1 {
  font-weight: 900;
  font-size: 44px;
  text-align: center;
  color: #fff;
  line-height: 1.3;
  letter-spacing: 3px;
  padding-top: 200px;
  padding-bottom: 30px;
  margin: 0;
}
.main-page-box {
  background-color: #2f303a;
  text-align: center;
  height: 600px;
}
.button-main-page {
  background: var(--brand-color);
  font-weight: 700;
  color: #fff;
  line-height: 30px;
  border-radius: 4px;
  border: none;
}
.button-main-page:hover,
.button-main-page:focus {
  color: var(--main-color);
  cursor: pointer;
}
.main-page-first-container {
  margin: 94px 215px 0px 215px;
  display: flex;
  width: 1170px;
  flex-basis: calc((100%-90px) / 4);
  gap: 30px;
  justify-content: space-between;
}
.main-page-first-container-title {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.1;
}
.main-page-first-container > li {
  list-style: none;
}
.main-page-first-container > li > p {
  color: var(--secondary-color);
  line-height: 1.7;
  margin: 0;
}
.main-page-first-container {
  padding-inline-start: 0px;
}
.main-page-container-title {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  line-height: 1;
  margin: 0;
  padding: 94px 0 50px 0;
}
.main-page-second-container {
  display: flex;
  width: 1170px;
  padding: 50px 215px 94px 215px;
  list-style: none;
  gap: 30px;
  margin: 0px;
}
.main-page-third-container > li {
  list-style: none;
  text-align: center;
}
.main-page-third-container {
  display: flex;
  margin: 0px;
  justify-content: space-between;
  gap: 30px;
  flex-basis: calc((100%-90px) / 4);
  padding: 0px 215px 94px 215px;
  background: #f5f4fa;
}
.main-page-third-container > li > figure {
  margin: 0px;
  background-color: #fff;
}
.main-page-third-container-section {
  background: #f5f4fa;
}

.main-page-third-container-photo-title {
  font-weight: 500;
  line-height: 1.1;
}
.main-page-third-container > li > figure > img {
  padding-bottom: 30px;
}
.main-page-third-container-photo-description {
  color: var(--secondary-color);
  line-height: 1.1;
  padding-bottom: 30px;
}
/*portfolio*/
.main-buttons {
  list-style: none;
}
.main-button {
  color: var(--main-color);
  background-color: #f5f4fa;
  line-height: 1.6;
}
.main-buttons > li > button {
  font-weight: 500;
  font-weight: bold;
  text-decoration: none;
}

.main-button:hover,
.main-button:focus {
  background-color: var(--brand-color);
  list-style: none;
  cursor: pointer;
  color: #fff;
}
.portfolio-examples {
  list-style: none;
}
.image-description-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}
.image-description {
  color: var(--secondary-color);
  line-height: 1.8;
}

/*portfolio*/

/*main*/

/*footer*/
footer {
  background-color: #2f303a;
}
.address > p > {
  text-decoration: none;
  line-height: 1.7;
}
.address-street {
  font-style: normal;
  font-size: 14px;
  color: #fff;
  padding-left: 215px;
}

.contact-email > a {
  font-style: normal;
  font-size: 14px;
  color: #ffffff60;
  text-decoration: none;
  padding-left: 215px;
}
.contact-phone > a {
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  color: #ffffff60;
  padding-left: 215px;
}
.contact-email > a:hover,
.contact-email > a:focus,
.contact-phone > a:hover,
.contact-phone > a:focus {
  color: var(--brand-color);
}

/*footer*/
